/qemu-*-static

cups/
ppd/
ssl/
classes.conf
client.conf
cups-browsed.conf
cups-browsed.conf.rpmsave
cups-files.conf
cups-files.conf.default
cupsd.conf
cupsd.conf.default
cupsd.conf.O
lpoptions
printers.conf
snmp.conf
snmp.conf.default
subscriptions.conf
